{
  "singleAttributePerLine": false,
  "bracketSameLine": true,
  "printWidth": 160,
  "overrides": [
    {
      "files": "src/*.scss",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "src/*.css",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "src/**/*.{js,jsx}",
      "options": {
        "tabWidth": 2,
        "trailingComma": "es5",
        "semi": false,
        "singleQuote": true
      }
    }
  ]
}
