# the (private) remote git repository
REMOTE_PAGES_REPO="git@github.com:USER/REPO.git"
REMOTE_REPO_USERNAME='YOUR NAME'
REMOTE_REPO_EMAIL='YOUR EMAIL'

# location of the to be cloned workingcopy of the git repository (must be absolute path)
LOCAL_PAGES_REPO='/ABSOLUTE/PATH/TO/REPO/WORKING_COPY'

# name of the optional folder within the repository which actually contains the markdown pages. Do net set otherwise
PAGES_DIR='SUBFOLDER'

# url of the pages repository to be used in frontend as reference link
REMOTE_PAGES_REPO_URL="https://github.com/USER/REPO/blob/main/SUBFOLDER"
