@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  display: grid;
  grid-template-areas:
    "header header"
    "navigation content"
    "footer footer";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 4rem auto 3rem;
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: #eee;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.navigation {
  grid-area: navigation;
  background-color: #ddd;
  padding: 1rem;
}

.content {
  grid-area: content;
  background-color: #fff;
  padding: 1rem;
}

.footer {
  grid-area: footer;
  background-color: #eee;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

