:root {
    // Tailwind Colors:
    //    https://tailwindcss.com/docs/customizing-colors

    --text-color: #111;

    --link-color: #075985; // sky-800
    --link-hover-color: #0369a1; // sky-700

    --first-headline-color: #111;
    --second-headline-color: #333;
    --first-headline-border-color: #ddd;
    --headline-edit-link-color: #ccc;
    --headline-edit-link-hover-color: #0369a1; // sky-700

    --blockquote-border-color: #eee;
    --blockquote-color: #9ca3af;

    --code-background-color: #f6f6f6;
    --inline-code-background-color: #f6f6f6;
    --code-text-color: #000;
}

::selection {
    background-color: rgba(255, 255, 0, 0.5);
    text-shadow: none;
}

@font-face {
    font-family: "Inconsolata";
    src: url("inconsolata-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

// MARKDOWN CONTENT

.markdown {
    padding-right: 2rem;
    position: relative;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Noto Sans,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji;

    .headline {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            display: none;
            margin-left: 2rem;
            font-size: 0.875rem;
            font-weight: 400;
            height: fit-content;
            padding: 4rem 0 1rem;
        }

        &:hover {
            a {
                display: inline-block;
                color: var(--headline-edit-link-color);

                &:hover {
                    color: var(--headline-edit-link-hover-color);
                }
            }
        }
    }

    h1,
    h2,
    h3,
    h4 {
        padding: 4rem 0 1rem;
    }

    h1 {
        font-size: 2rem;
        line-height: 1.75rem;
        font-weight: 400;
        color: var(--first-headline-color);
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 600;
        color: var(--second-headline-color);
    }

    h3 {
        font-size: 1.3rem;
        line-height: 1.5rem;
        font-weight: 400;
        padding-top: 3rem;
    }

    .h3 {
        a {
            padding-top: 3rem;
        }
    }

    h4 {
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 400;
        padding-top: 2rem;
    }

    .h4 {
        a {
            padding-top: 2rem;
        }
    }

    .h1 + .h2 {
        h2,
        a {
            padding-top: 1rem;
        }
    }

    .h2 + .h3 {
        h3,
        a {
            padding-top: 1rem;
        }
    }

    .h1 {
        border-bottom: 1px solid var(--first-headline-border-color);
        padding-left: 1rem;
        margin-left: -1rem;
    }

    aside {
        $asideWidth: 16rem;

        position: absolute;
        width: 16rem;
        right: 0;

        & > * {
            padding: 0 1rem !important;
            border-left: 6px solid var(--code-background-color);
            margin: 0.5rem 0;
            width: 14rem;
        }

        & + * {
            margin-right: $asideWidth !important;
        }

        &.aside2 + * + *,
        &.aside3 + * + *,
        &.aside4 + * + *,
        &.aside5 + * + * {
            margin-right: $asideWidth !important;
        }

        &.aside3 + * + * + *,
        &.aside4 + * + * + *,
        &.aside5 + * + * + * {
            margin-right: $asideWidth !important;
        }

        &.aside4 + * + * + * + *,
        &.aside5 + * + * + * + * {
            margin-right: $asideWidth !important;
        }

        &.aside5 + * + * + * + * + * {
            margin-right: $asideWidth !important;
        }

        p {
            font-size: 0.875rem;
            padding: 0.75rem 0;
        }

        ul {
            list-style-type: none;
            margin-inline-start: 0;
            padding: 1px 0;

            li {
                margin: 0.75rem 0;
                line-height: 1.3;
                font-size: 0.875rem;
            }
        }
    }

    .h1:has(+ aside) {
        margin-right: 16rem;
    }

    .h1 + aside {
        div {
            position: relative;
            top: -4rem;
        }
    }

    ul {
        display: block;
        list-style-type: circle;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 20px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;

        & > li {
            font-size: 1rem;
            margin-bottom: 0.25rem;

            & > ol,
            & > ul {
                margin-block-start: 0.25rem;
                margin-block-end: 0;
            }
        }
    }

    ol {
        display: block;
        list-style-type: decimal;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 24px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;

        & > li {
            font-size: 1rem;
            margin-bottom: 0.25rem;

            & > ol,
            & > ul {
                margin-block-start: 0.25rem;
                margin-block-end: 0;
            }
        }
    }

    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    p,
    li {
        & > code {
            font-family: "Inconsolata", "Courier New", Courier, monospace;
            font-size: 1.0625rem;
            padding: 2px 4px;
            margin: -3px 0;
            background-color: var(--inline-code-background-color);
            border-radius: 3px;
        }
    }

    blockquote {
        display: block;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 0.5rem;
        margin-inline-end: 0;
        border-left: 2px solid var(--blockquote-border-color);
        padding-left: 1rem;

        p {
            font-style: italic;
            color: var(--blockquote-color);
        }
    }

    a {
        color: var(--link-color);

        &:hover {
            color: var(--link-hover-color);
        }
    }

    pre {
        margin: 1rem -2.25rem;
        background-color: var(--code-background-color);
        padding: 0.5rem 2.25rem;
        line-height: 0;

        & > code {
            background-color: var(--code-background-color);
            font-family: "Inconsolata", "Courier New", Courier, monospace;
            font-size: 1.0625rem;
            color: var(--code-text-color);
            line-height: 1.4;
            -webkit-font-smoothing: auto;

            &.language-ascii {
                font-size: 14px;
                line-height: 17px;
                font-family: monospace;
            }

            &.language-dense-bottom,
            &.language-dense-top,
            &.language-dense-around {
                line-height: 1;
            }
        }

        &:has(> .language-dense-top) {
            margin-bottom: -1rem;
        }

        &:has(> .language-dense-bottom) {
            margin-top: -1rem;
        }

        &:has(> .language-dense-around) {
            margin-top: -1rem;
            margin-bottom: -1rem;
        }
    }

    table {
        margin-top: 1rem;
        margin-bottom: 2rem;

        tr {
            border-bottom: 1px solid #ccc;

            th,
            td {
                text-align: left;
                padding: 0.2rem 0.5rem;
                font-size: 0.9375rem;
                vertical-align: top;

                & > code {
                    font-family: "Inconsolata", "Courier New", Courier, monospace;
                    font-size: 1rem;
                    padding: 2px 4px;
                    margin: -3px 0;
                    background-color: var(--inline-code-background-color);
                    border-radius: 2px;
                }
            }
        }
    }

    mark {
        &.yellow-marker {
            background-color: rgba(255, 255, 0, 0.3);
            padding: 1px 3px;
            margin: 0 -3px;
        }

        &.red-marker {
            background-color: rgba(255, 0, 0, 0.6);
            color: #fff;
            padding: 2px 5px;
            margin: 0 5px 0 0;
            border-radius: 4px;
        }

        &.grey-comment {
            background-color: transparent;
            color: #aaa;

            > .yellow-marker {
                color: #aaa;
            }
        }

        &.white-marker {
            background-color: #fff;
            color: #888;
            padding: 1px 3px;
            margin: -3px;
        }
    }

    .language-ascii {
        mark.white-marker {
            color: #777;
            outline: 1px solid #eee;
        }
    }

    dl {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

        & > dt {
            font-weight: 600;
            font-size: 1rem;
            margin: 1.5rem 0 0.25rem;
        }

        & > dd {
            margin-left: 1.75rem;
            margin-right: 0;
        }
    }

    kbd {
        background: var(--code-background-color);
        border: 1px solid #ccc;
        padding: 2px 5px;
        margin: 0 3px 0 0;
        color: var(--text-color);
        font-family: "Inconsolata", "Courier New", Courier, monospace;
        font-size: 1rem;
        border-radius: 4px;
        box-shadow: 1px 1px 3px 0 #eee;
    }

    hr {
        border-width: 1px 0 0;
        box-sizing: content-box;
        height: 0;
        overflow: visible;
        border-color: #fff;
        margin: 2rem 0;
    }
}

// LEFT NAVIGATION

.navigation {
    box-shadow: inset -10px 0px 20px -10px #ddd;

    & > svg {
        position: fixed;
        top: 2rem;
    }

    & + div {
        z-index: 1;
    }

    ul {
        list-style: none;
    }

    nav > ul {
        margin: 0 0 0 1rem;
        padding: 1.5rem 0 0 0;

        & > li {
            padding: 0 1rem 1rem;
            position: relative;

            & > ul::before {
                content: "";
                border-left: 2px solid #eee;
                position: absolute;
                top: 27px;
                left: 16px;
                height: calc(100% - 44px);
            }

            &:not(:has(ul)) {
                padding-bottom: 0;
                margin-bottom: 0.5rem;
            }

            &.active > a {
                color: #000;
            }

            a {
                text-decoration: none;
                display: block;
                color: #666;
                font-size: 0.875rem;
                font-weight: 600;
                transition: all 50ms ease-in-out;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                &:hover,
                &:focus {
                    color: #000;
                }
            }

            li {
                padding: 0 0 0 0.75rem;
                margin-top: 0.25rem;

                a {
                    display: block;
                    color: #999;
                    font-weight: 400;
                }
            }
        }
    }
}
