@charset "UTF-8";
:root {
  --text-color: #111;
  --link-color: #bc0a6f;
  --link-hover-color: #bc0a6f;
  --internal-link-color: #bc0a6f;
  --internal-link-hover-color: #bc0a6f;
  --first-headline-color: #111;
  --second-headline-color: #333;
  --first-headline-border-color: #ddd;
  --headline-edit-link-color: #ccc;
  --headline-edit-link-hover-color: #bc0a6f;
  --blockquote-border-color: #eee;
  --blockquote-color: #777;
  --code-background-color: #f6f6f6;
  --inline-code-background-color: #f6f6f6;
  --code-text-color: #444;
}

::selection {
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

.markdown {
  padding-right: 2rem;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Noto Sans, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
.markdown .headline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.markdown .headline a {
  display: none;
  margin-left: 2rem;
  font-size: 0.875rem;
  font-weight: 400;
  height: fit-content;
  padding: 4rem 0 1rem;
}
.markdown .headline:hover a {
  display: inline-block;
  color: var(--headline-edit-link-color);
}
.markdown .headline:hover a:hover {
  color: var(--headline-edit-link-hover-color);
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
  padding: 4rem 0 1rem;
}
.markdown h1 {
  font-size: 2rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: var(--first-headline-color);
}
.markdown h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--second-headline-color);
}
.markdown h3 {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding-top: 3rem;
}
.markdown .h3 a {
  padding-top: 3rem;
}
.markdown h4 {
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding-top: 2rem;
}
.markdown .h4 a {
  padding-top: 2rem;
}
.markdown .h1 + .h2 h2,
.markdown .h1 + .h2 a {
  padding-top: 2rem;
}
.markdown .h2 + .h3 h3,
.markdown .h2 + .h3 a {
  padding-top: 1rem;
}
.markdown .h3 + .h4 h4,
.markdown .h3 + .h4 a {
  padding-top: 1rem;
}
.markdown .h1 {
  border-bottom: 1px solid var(--first-headline-border-color);
  padding-left: 1rem;
  margin-left: -1rem;
}
.markdown aside {
  position: absolute;
  width: 16rem;
  right: 0;
}
.markdown aside > * {
  padding: 0 1rem !important;
  border-left: 4px solid var(--link-color);
  margin: 0.5rem 0;
  width: 14rem;
}
.markdown aside + * {
  margin-right: 16rem !important;
}
.markdown aside + ol > li > pre {
  margin-right: 0 !important;
}
.markdown aside.aside2 + * + *, .markdown aside.aside3 + * + *, .markdown aside.aside4 + * + *, .markdown aside.aside5 + * + *, .markdown aside.aside6 + * + * {
  margin-right: 16rem !important;
}
.markdown aside.aside3 + * + * + *, .markdown aside.aside4 + * + * + *, .markdown aside.aside5 + * + * + *, .markdown aside.aside6 + * + * + * {
  margin-right: 16rem !important;
}
.markdown aside.aside4 + * + * + * + *, .markdown aside.aside5 + * + * + * + *, .markdown aside.aside6 + * + * + * + * {
  margin-right: 16rem !important;
}
.markdown aside.aside5 + * + * + * + * + *, .markdown aside.aside6 + * + * + * + * + * {
  margin-right: 16rem !important;
}
.markdown aside.aside6 + * + * + * + * + * + * {
  margin-right: 16rem !important;
}
.markdown aside p {
  font-size: 0.875rem;
  padding: 0.75rem 0;
  margin-top: -0.5rem;
}
.markdown aside ul {
  list-style-type: none;
  margin-inline-start: 0;
  padding: 1px 0;
}
.markdown aside ul li {
  margin: 0.75rem 0;
  line-height: 1.3;
  font-size: 0.875rem;
}
.markdown .h1:has(+ aside) {
  margin-right: 16rem;
}
.markdown .h1 + aside div,
.markdown .h2 + aside div,
.markdown .h3 + aside div {
  position: relative;
  top: -2.5rem;
}
.markdown ul {
  list-style-type: circle;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 1.25px;
}
.markdown ol {
  list-style-type: decimal;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
  margin-inline-start: 1.5rem;
}
.markdown > ol > li::marker {
  font-weight: bold;
}
.markdown ol,
.markdown ul {
  display: block;
  margin-inline-start: 1.5rem;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.markdown ol > li,
.markdown ul > li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.markdown ol > li > p,
.markdown ul > li > p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.markdown ol > li > pre,
.markdown ul > li > pre {
  margin-left: -3.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.markdown ol > li > pre > code,
.markdown ul > li > pre > code {
  margin-left: 1.5rem;
  box-decoration-break: clone;
}
.markdown ol > li > ol, .markdown ol > li > ul,
.markdown ul > li > ol,
.markdown ul > li > ul {
  margin-block-start: 0.5rem;
  margin-block-end: 0;
}
.markdown ol > li > hr,
.markdown ul > li > hr {
  margin: 1rem 0;
}
.markdown p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.markdown p > code,
.markdown li > code {
  font-family: monospace;
  font-size: 0.875rem;
  padding: 4px 6px;
  margin: -3px 0;
  background-color: var(--inline-code-background-color);
  border-radius: 3px;
}
.markdown blockquote {
  display: block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0;
  border-left: 2px solid var(--blockquote-border-color);
  padding-left: 1rem;
  margin-left: 0;
}
.markdown blockquote p {
  font-style: italic;
  color: var(--blockquote-color);
  quotes: "„" "“";
  padding: 1rem 0;
}
.markdown blockquote p:before {
  content: open-quote;
}
.markdown blockquote p:after {
  content: close-quote;
}
.markdown a {
  color: var(--link-color);
}
.markdown a:hover {
  color: var(--link-hover-color);
}
.markdown a[href^="/pages/"] {
  color: var(--internal-link-color);
}
.markdown a[href^="/pages/"]:hover {
  color: var(--internal-link-hover-color);
}
.markdown pre {
  margin: 1rem -2.25rem;
  background-color: var(--code-background-color);
  padding: 0.5rem 2.25rem;
  line-height: 0;
}
.markdown pre > code {
  background-color: var(--code-background-color);
  font-family: monospace;
  font-size: 0.875rem;
  color: var(--code-text-color);
  line-height: 1.6;
  -webkit-font-smoothing: auto;
}
.markdown pre > code.language-ascii {
  font-size: 14px;
  line-height: 17px;
  font-family: monospace;
}
.markdown pre > code.language-ascii-bottom, .markdown pre > code.language-ascii-top, .markdown pre > code.language-ascii-middle {
  line-height: 1;
}
.markdown pre:has(> .language-ascii-top) {
  margin-bottom: -1rem;
}
.markdown pre:has(> .language-ascii-bottom) {
  margin-top: -1rem;
}
.markdown pre:has(> .language-ascii-middle) {
  margin-top: -1rem;
  margin-bottom: -1rem;
}
.markdown pre:has(> .language-md) {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.markdown table {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.markdown table tr {
  border-bottom: 1px solid #ccc;
}
.markdown table tr th,
.markdown table tr td {
  text-align: left;
  padding: 0.2rem 0.5rem;
  font-size: 0.9375rem;
  vertical-align: top;
}
.markdown table tr th > code,
.markdown table tr td > code {
  font-family: monospace;
  font-size: 0.8125rem;
  padding: 2px 4px;
  margin: -3px 0;
  background-color: var(--inline-code-background-color);
  border-radius: 2px;
  color: var(--code-text-color);
}
.markdown table:has(th[style*=center]) {
  width: 100%;
}
.markdown mark.yellow-marker {
  background-color: rgba(255, 255, 0, 0.3);
  padding: 1px 3px;
  margin: 0 -3px;
}
.markdown mark.todo-marker {
  background-color: #fce8e6;
  color: #c5221f;
  padding: 4px 18px;
  margin: 0 5px 0 0;
  border-radius: 14px;
}
.markdown mark.read-marker {
  background-color: #fef7e0;
  color: #faab00;
  padding: 4px 18px;
  margin: 0 5px 0 0;
  border-radius: 14px;
}
.markdown mark.grey-comment {
  background-color: transparent;
  color: #1a202c;
}
.markdown mark.grey-comment > .yellow-marker {
  color: #aaa;
}
.markdown mark.watch-marker {
  background-color: #e7f0fe;
  color: #1967d2;
  padding: 4px 18px;
  margin: 0 5px 0 0;
  border-radius: 14px;
}
.markdown mark.white-marker {
  background-color: #fff;
  color: #888;
  padding: 1px 3px;
  margin: -3px;
}
.markdown pre mark.grey-comment {
  background-color: transparent;
  color: #aaa;
}
.markdown pre mark.grey-comment > .yellow-marker {
  color: #aaa;
}
.markdown .language-ascii mark.white-marker {
  color: #777;
  outline: 1px solid #eee;
}
.markdown .language-md {
  color: #888;
  background-color: #fafafa;
}
.markdown dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.markdown dl > dt {
  font-weight: 600;
  font-size: 1rem;
  margin: 1.5rem 0 0.25rem;
}
.markdown dl > dd {
  margin-left: 1.75rem;
  margin-right: 0;
}
.markdown kbd {
  background: var(--code-background-color);
  border: 1px solid #ccc;
  padding: 2px 5px;
  margin: 0 3px 0 0;
  color: var(--code-text-color);
  font-family: monospace;
  font-size: 0.8125rem;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0 #eee;
}
.markdown hr {
  border-width: 1px 0 0;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-color: #fff;
  margin: 2rem 0;
}

.navigation {
  box-shadow: inset -10px 0px 20px -10px #ddd;
}
.navigation > svg {
  position: fixed;
  top: 2rem;
}
.navigation + div {
  z-index: 1;
  background-color: white;
}
.navigation ul {
  list-style: none;
}
.navigation nav > ul {
  margin: 0 0 0 1rem;
  padding: 1.5rem 0 0 0;
}
.navigation nav > ul > li {
  padding: 0 1rem 1rem;
  position: relative;
}
.navigation nav > ul > li > ul::before {
  content: "";
  border-left: 2px solid #eee;
  position: absolute;
  top: 27px;
  left: 16px;
  height: calc(100% - 44px);
}
.navigation nav > ul > li:not(:has(ul)) {
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}
.navigation nav > ul > li.active > a {
  color: #000;
}
.navigation nav > ul > li a {
  text-decoration: none;
  display: block;
  color: #666;
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 50ms ease-in-out;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.navigation nav > ul > li a:hover, .navigation nav > ul > li a:focus {
  color: #000;
}
.navigation nav > ul > li li {
  padding: 0 0 0 0.75rem;
  margin-top: 0.25rem;
}
.navigation nav > ul > li li a {
  display: block;
  color: #999;
  font-weight: 400;
}
