:root {
  --link-color: #f87171;
  --text-color: #111;
  --headline-edit-link-color: #bbb;
  --headline-edit-link-hover-color: #f87171;
  --aside-border-color: #eee;
  --code-background-color: #f6f6f6;
  --inline-code-background-color: #f3f3f3;
  --code-text-color: #111;
}

::selection {
  background-color: rgba(255, 255, 0, 0.3);
  text-shadow: none;
}

@font-face {
  font-family: "Inconsolata";
  src: url("inconsolata-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.markdown {
  padding-right: 20%;
  position: relative;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.markdown aside {
  position: absolute;
  left: 82%;
  padding: 0.5rem 0 0.5rem 1rem;
  margin: -0.5rem 0;
  border-left: 5px solid var(--aside-border-color);
  font-size: 0.8rem;
}
.markdown aside ul {
  list-style-type: none;
  margin-inline-start: 0;
}
.markdown aside ul li {
  margin: 0.5rem 0;
}
.markdown h1 {
  font-size: 1.8rem;
  line-height: 1.75rem;
  font-weight: 600;
}
.markdown h2 {
  font-size: 1.6rem;
  line-height: 1.5rem;
  font-weight: 600;
}
.markdown h3 {
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-weight: 600;
}
.markdown .headline {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1rem;
}
.markdown .headline:not(:first-child) {
  padding-top: 2rem;
}
.markdown .headline a {
  display: none;
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 400;
}
.markdown .headline:hover a {
  display: inline-block;
  color: var(--headline-edit-link-color);
}
.markdown .headline:hover a:hover {
  color: var(--headline-edit-link-hover-color);
}
.markdown p {
  margin-bottom: 1rem;
}
.markdown blockquote {
  display: block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  border-left: 6px solid #fee;
  padding-left: 1rem;
}
.markdown blockquote p {
  font-style: italic;
}
.markdown a {
  color: var(--link-color);
}
.markdown ul {
  display: block;
  list-style-type: circle;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 20px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.markdown ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 24px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.markdown del {
  text-decoration: line-through;
}
.markdown code {
  background-color: var(--code-background-color);
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  font-size: 1rem;
  color: var(--code-text-color);
  font-weight: 400;
  line-height: 1;
}
.markdown pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--code-background-color);
  padding: 0.3rem 0.6rem;
}
.markdown p > code {
  padding: 3px;
  margin: -3px 0;
  background-color: var(--inline-code-background-color);
}
.markdown table {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.markdown table tr {
  border-bottom: 1px solid #ccc;
}
.markdown table tr th,
.markdown table tr td {
  text-align: left;
  padding: 0.3rem 0.5rem;
}
.markdown sup {
  top: -0.5em;
  font-size: 0.8rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.markdown section.footnotes {
  margin-top: 2rem;
  border-top: 1px solid #aaa;
}
.markdown section.footnotes .sr-only {
  display: none;
}
.markdown section.footnotes ol {
  margin-top: 0.5rem;
}
.markdown section.footnotes ol p {
  font-size: 80%;
  color: #666;
}
.markdown section.footnotes ol p a {
  font-size: 0;
}
.markdown section.footnotes ol p a:after {
  font-size: 0.8rem;
  content: " [back]";
}
.markdown mark.yellow-marker {
  background-color: rgba(255, 255, 0, 0.3);
  padding: 0 3px;
  margin: 0 -3px;
}
.markdown mark.red-marker {
  background-color: rgb(255, 0, 0);
  color: #fff;
  padding: 2px 5px;
  margin: 0 5px 0 0;
}
.markdown mark.grey-marker {
  background-color: transparent;
  color: #bbb;
}
.markdown mark.grey-marker .white-marker {
  background-color: #fff;
  color: #999;
  padding: 3px;
  margin: -3px;
}
.markdown kbd {
  background: var(--code-background-color);
  border: 1px solid #ccc;
  padding: 2px 5px;
  margin: 0 3px 0 0;
  color: var(--text-color);
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0 #eee;
}
