:root {
  --text-color: #111;
  --link-color: #075985;
  --link-hover-color: #0369a1;
  --first-headline-color: #111;
  --second-headline-color: #333;
  --first-headline-border-color: #ddd;
  --headline-edit-link-color: #ccc;
  --headline-edit-link-hover-color: #0369a1;
  --blockquote-border-color: #eee;
  --blockquote-color: #9ca3af;
  --code-background-color: #f6f6f6;
  --inline-code-background-color: #f6f6f6;
  --code-text-color: #000;
}

::selection {
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

@font-face {
  font-family: "Inconsolata";
  src: url("inconsolata-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.markdown {
  padding-right: 2rem;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Noto Sans, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
.markdown .headline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.markdown .headline a {
  display: none;
  margin-left: 2rem;
  font-size: 0.875rem;
  font-weight: 400;
  height: fit-content;
  padding: 4rem 0 1rem;
}
.markdown .headline:hover a {
  display: inline-block;
  color: var(--headline-edit-link-color);
}
.markdown .headline:hover a:hover {
  color: var(--headline-edit-link-hover-color);
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
  padding: 4rem 0 1rem;
}
.markdown h1 {
  font-size: 2rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: var(--first-headline-color);
}
.markdown h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--second-headline-color);
}
.markdown h3 {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding-top: 3rem;
}
.markdown .h3 a {
  padding-top: 3rem;
}
.markdown h4 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding-top: 2rem;
}
.markdown .h4 a {
  padding-top: 2rem;
}
.markdown .h1 + .h2 h2,
.markdown .h1 + .h2 a {
  padding-top: 1rem;
}
.markdown .h2 + .h3 h3,
.markdown .h2 + .h3 a {
  padding-top: 1rem;
}
.markdown .h1 {
  border-bottom: 1px solid var(--first-headline-border-color);
  padding-left: 1rem;
  margin-left: -1rem;
}
.markdown aside {
  position: absolute;
  width: 16rem;
  right: 0;
}
.markdown aside > * {
  padding: 0 1rem !important;
  border-left: 6px solid var(--code-background-color);
  margin: 0.5rem 0;
  width: 14rem;
}
.markdown aside + * {
  margin-right: 16rem !important;
}
.markdown aside.aside2 + * + *, .markdown aside.aside3 + * + *, .markdown aside.aside4 + * + *, .markdown aside.aside5 + * + * {
  margin-right: 16rem !important;
}
.markdown aside.aside3 + * + * + *, .markdown aside.aside4 + * + * + *, .markdown aside.aside5 + * + * + * {
  margin-right: 16rem !important;
}
.markdown aside.aside4 + * + * + * + *, .markdown aside.aside5 + * + * + * + * {
  margin-right: 16rem !important;
}
.markdown aside.aside5 + * + * + * + * + * {
  margin-right: 16rem !important;
}
.markdown aside p {
  font-size: 0.875rem;
  padding: 0.75rem 0;
}
.markdown aside ul {
  list-style-type: none;
  margin-inline-start: 0;
  padding: 1px 0;
}
.markdown aside ul li {
  margin: 0.75rem 0;
  line-height: 1.3;
  font-size: 0.875rem;
}
.markdown .h1:has(+ aside) {
  margin-right: 16rem;
}
.markdown .h1 + aside div {
  position: relative;
  top: -4rem;
}
.markdown ul {
  display: block;
  list-style-type: circle;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 20px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.markdown ul > li {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.markdown ul > li > ol, .markdown ul > li > ul {
  margin-block-start: 0.25rem;
  margin-block-end: 0;
}
.markdown ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 24px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.markdown ol > li {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.markdown ol > li > ol, .markdown ol > li > ul {
  margin-block-start: 0.25rem;
  margin-block-end: 0;
}
.markdown p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.markdown p > code,
.markdown li > code {
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  font-size: 1.0625rem;
  padding: 2px 4px;
  margin: -3px 0;
  background-color: var(--inline-code-background-color);
  border-radius: 3px;
}
.markdown blockquote {
  display: block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0;
  border-left: 2px solid var(--blockquote-border-color);
  padding-left: 1rem;
}
.markdown blockquote p {
  font-style: italic;
  color: var(--blockquote-color);
}
.markdown a {
  color: var(--link-color);
}
.markdown a:hover {
  color: var(--link-hover-color);
}
.markdown pre {
  margin: 1rem -2.25rem;
  background-color: var(--code-background-color);
  padding: 0.5rem 2.25rem;
  line-height: 0;
}
.markdown pre > code {
  background-color: var(--code-background-color);
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  font-size: 1.0625rem;
  color: var(--code-text-color);
  line-height: 1.4;
  -webkit-font-smoothing: auto;
}
.markdown pre > code.language-ascii {
  font-size: 15px;
  line-height: 17px;
  font-family: "Courier New", Courier, monospace;
}
.markdown pre > code.language-ascii > mark.white-marker {
  background-color: #fff;
  padding: 1px 3px;
  margin: 0 -3px;
  color: var(--code-text-color);
}
.markdown pre > code.language-ascii > mark.yellow-marker {
  background-color: rgba(255, 255, 0, 0.3);
  padding: 1px 3px;
  margin: 0 -3px;
}
.markdown table {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.markdown table tr {
  border-bottom: 1px solid #ccc;
}
.markdown table tr th,
.markdown table tr td {
  text-align: left;
  padding: 0.2rem 0.5rem;
  font-size: 0.9375rem;
  vertical-align: top;
}
.markdown table tr th > code,
.markdown table tr td > code {
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  font-size: 1rem;
  padding: 2px 4px;
  margin: -3px 0;
  background-color: var(--inline-code-background-color);
  border-radius: 2px;
}
.markdown mark.yellow-marker {
  background-color: rgba(255, 255, 0, 0.25);
  padding: 1px 3px;
  margin: 0 -3px;
}
.markdown mark.red-marker {
  background-color: rgba(255, 0, 0, 0.6);
  color: #fff;
  padding: 2px 5px;
  margin: 0 5px 0 0;
  border-radius: 4px;
}
.markdown mark.grey-comment {
  background-color: transparent;
  color: #aaa;
}
.markdown mark.white-marker {
  background-color: #fff;
  color: #999;
  padding: 1px 3px;
  margin: -3px;
}
.markdown dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.markdown dl > dt {
  font-weight: 600;
  font-size: 1rem;
  margin: 1.5rem 0 0.25rem;
}
.markdown dl > dd {
  margin-left: 1.75rem;
  margin-right: 0;
}
.markdown kbd {
  background: var(--code-background-color);
  border: 1px solid #ccc;
  padding: 2px 5px;
  margin: 0 3px 0 0;
  color: var(--text-color);
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0 #eee;
}
.markdown hr {
  border-width: 1px 0 0;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-color: var(--first-headline-border-color);
  margin: 2rem 0 2rem -1rem;
}

.navigation {
  box-shadow: inset -10px 0px 20px -10px #ddd;
}
.navigation > svg {
  position: fixed;
  top: 2rem;
}
.navigation + div {
  z-index: 1;
}
.navigation ul {
  list-style: none;
}
.navigation nav > ul {
  margin: 0 0 0 1rem;
  padding: 0;
}
.navigation nav > ul > li:first-child {
  padding-top: 1.5rem;
}
.navigation nav > ul > li {
  padding: 0 1rem 1rem;
}
.navigation nav > ul > li:not(:has(ul)) {
  padding-bottom: 0;
  margin-bottom: 0.25rem;
}
.navigation nav > ul > li.active > a {
  color: #000;
}
.navigation nav > ul > li a {
  text-decoration: none;
  display: block;
  color: #666;
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 50ms ease-in-out;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.navigation nav > ul > li a:hover, .navigation nav > ul > li a:focus {
  color: #000;
}
.navigation nav > ul > li li {
  padding: 0 0 0 0.5rem;
  margin-top: 0.25rem;
}
.navigation nav > ul > li li a {
  display: block;
  color: #999;
  font-weight: 400;
}
